:root {
  --linear-gradient-233: linear-gradient(
    to right,
    rgba(235, 235, 235, 0) 0%,
    rgba(235, 235, 235, 0) 10%,
    rgba(235, 235, 235, 0.3) 20%,
    rgba(235, 235, 235, 0.4) 30%,
    rgba(235, 235, 235, 0.5) 40%,
    rgba(235, 235, 235, 0.8) 50%,
    rgba(235, 235, 235, 0.5) 60%,
    rgba(235, 235, 235, 0.4) 70%,
    rgba(235, 235, 235, 0.3) 80%,
    rgba(235, 235, 235, 0) 90%,
    rgba(235, 235, 235, 0) 100%
  );
  --bg-color-light-1: #fff;
  --bg-color-light-2: #eee;
  --bg-color-light-3: #aaa;
  --bg-color-light-eye: #efefef;
  --bg-color-green-1: #cce8cf;
  --bg-color-green-2: #a1dda8;
  --bg-color-green-eye: #b5e2b9;
}
